# NOTE: This file is auto generated by OpenAPI Generator 7.2.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule APIBL.Api.LeaderboardRefresh do
  @moduledoc """
  API calls for all endpoints tagged `LeaderboardRefresh`.
  """

  alias APIBL.Connection
  import APIBL.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (APIBL.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:id` (String.t): 
    - `:leaderboardContext` (LeaderboardContexts): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec leaderboard_refresh_refresh_leaderboards_rank(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def leaderboard_refresh_refresh_leaderboards_rank(connection, opts \\ []) do
    optional_params = %{
      :id => :query,
      :leaderboardContext => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/leaderboards/refresh")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (APIBL.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:id` (String.t): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec leaderboard_refresh_refresh_leaderboards_rank_all_contexts(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def leaderboard_refresh_refresh_leaderboards_rank_all_contexts(connection, opts \\ []) do
    optional_params = %{
      :id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/leaderboards/refresh/allContexts")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
